h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}


.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
.block {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eeebeb;
  border: 1px solid #ddd;
}

.block-warn {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ff0;
  background-color: rgba(255,255,0,.15);
  border: 1px solid #000;
}

.block-alert {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f00;
  background-color: rgba(255,0,0,.15);
  border: 1px solid #000;
  border: 1px solid rgba(0,0,0,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.middle-blocks-height {
  height: 524px;
}

.smaller-text {
  font-size: .81em;
}

.even-columns {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 9.09090909091%;
    overflow: visible;
    height: 100%;
}

.columns {
  border-left: 1px solid #ddd;
}

.columns:last-child {
  border-right: 1px solid #ddd;
}

.worker {
  padding: 4px;
  border: 1px dashed #ddd;
  width: 100%;
  margin: 4px 0px;
  text-align: center;
}

.batch {
  padding: 2px;
  border: 1px solid #ddd;
  height: 34px;
  margin: 4px 0px;
  text-align: center;

}

.batch-idle {
  padding: 2px;
  border: 1px solid #ddd;
  width: 95%;
  margin: 4px 0px;
  text-align: center;
}



/*Begin terrible code*/
#progressbar {
  width: 100%;
  height: 17px;
  clear: both;
}

#progress-17 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 100%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 17s 5 forwards;
  -moz-animation: progress 17s 5 forwards;
  -ms-animation: progress 17s 5 forwards;
  animation: progress 17s 5 forwards;*/
}
#progress-16 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 94.117647%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 16s 5 forwards;
  -moz-animation: progress 16s 5 forwards;
  -ms-animation: progress 16s 5 forwards;
  animation: progress 16s 5 forwards;*/
}
#progress-15 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 88.23529%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 15s 5 forwards;
  -moz-animation: progress 15s 5 forwards;
  -ms-animation: progress 15s 5 forwards;
  animation: progress 15s 5 forwards;*/
}
#progress-14 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 82.352941%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 14s 5 forwards;
  -moz-animation: progress 14s 5 forwards;
  -ms-animation: progress 14s 5 forwards;
  animation: progress 14s 5 forwards;*/
}
#progress-13 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 76%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 13s 5 forwards;
  -moz-animation: progress 13s 5 forwards;
  -ms-animation: progress 13s 5 forwards;
  animation: progress 13s 5 forwards;*/
}
#progress-12 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 70%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 12s 5 forwards;
  -moz-animation: progress 12s 5 forwards;
  -ms-animation: progress 12s 5 forwards;
  animation: progress 12s 5 forwards;*/
}
#progress-11 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 64%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 11s 5 forwards;
  -moz-animation: progress 11s 5 forwards;
  -ms-animation: progress 11s 5 forwards;
  animation: progress 11s 5 forwards;*/
}
#progress-10 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 58%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 10s 5 forwards;
  -moz-animation: progress 10s 5 forwards;
  -ms-animation: progress 10s 5 forwards;
  animation: progress 10s 5 forwards;*/
}
#progress-9 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 52%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 9s 5 forwards;
  -moz-animation: progress 9s 5 forwards;
  -ms-animation: progress 9s 5 forwards;
  animation: progress 9s 5 forwards;*/
}
#progress-8 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 47%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 8s 5 forwards;
  -moz-animation: progress 8s 5 forwards;
  -ms-animation: progress 8s 5 forwards;
  animation: progress 8s 5 forwards;*/
}
#progress-7 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 41%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 7s 5 forwards;
  -moz-animation: progress 7s 5 forwards;
  -ms-animation: progress 7s 5 forwards;
  animation: progress 7s 5 forwards;*/
}
#progress-6 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 35%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 6s 5 forwards;
  -moz-animation: progress 6s 5 forwards;
  -ms-animation: progress 6s 5 forwards;
  animation: progress 6s 5 forwards;*/
}
#progress-5 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 29%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 5s 5 forwards;
  -moz-animation: progress 5s 5 forwards;
  -ms-animation: progress 5s 5 forwards;
  animation: progress 5s 5 forwards;*/
}
#progress-4 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 23%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 4s 5 forwards;
  -moz-animation: progress 4s 5 forwards;
  -ms-animation: progress 4s 5 forwards;
  animation: progress 4s 5 forwards;*/
}
#progress-3 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 18%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 3s 5 forwards;
  -moz-animation: progress 3s 5 forwards;
  -ms-animation: progress 3s 5 forwards;
  animation: progress 3s 5 forwards;*/
}
#progress-2 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 12%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 2s 5 forwards;
  -moz-animation: progress 2s 5 forwards;
  -ms-animation: progress 2s 5 forwards;
  animation: progress 2s 5 forwards;*/
}
#progress-1 {
  border-radius: 1px;
  background: #A1C969; /*-- Color of the bar --*/
  height: 15px;
  width: 5%;
  max-width: 100%;
  float: left;
  /*-webkit-animation: progress 1s 5 forwards;
  -moz-animation: progress 1s 5 forwards;
  -ms-animation: progress 1s 5 forwards;
  animation: progress 1s 5 forwards;*/
}



/*
@keyframes progress {
    from { width: 100% }
    to { width: 0%}
}*/

/*End terrible code*/

.batch-0 {
  background-color: none;
}

.batch-1 {
  background-color: rgba(105, 195, 226, 0.4);
}

.batch-2 {
  background-color: rgba(235, 205, 30, 0.4);
}

.batch-3 {
  background-color: rgba(224, 88, 81, 0.4);
}

.batch-4 {
  background-color: rgba(134, 130, 214, 0.4);
}

.batch-5 {
  background-color: rgba(111, 194, 104, 0.4);
}

.column-header {
  min-height: 72px;
}

.column-footer {
  min-height: 53px;
}

.flow-board {
  border: 1px solid #ddd;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.progress-bar{
}

.no-padding {
  padding: 0px;
}

.float-right {
  float: right;
}

.u-padding-left {
  padding-left: 10px;
}

.u-margin-left {
  margin-left: 10px;
}
