body {
  font-family: "Roboto", sans-serif !important;
  background-color: #f2f5f8 !important;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}

.questions {
  padding: 15px;
  color: #fff;
}
.questions:hover {
  color: #fff;
}

.results-container {
  border: 1px solid #2d2d2d;
  width: 400px;
  padding: 10px;
  border-radius: 3px;
}

.results {
  border-radius: 3px;
  width: 20px;
  padding: 5px;
  background-color: #eacd1f;
}

.worker-controls.block {
  display: inline-block;
  background-color: #fff;
  margin-left: 5px;
  border: none;
}

.column-header:first-child {
  border-top-left-radius: 3px !important;
}

.column-header:last-child {
  border-top-right-radius: 3px !important;
}

.btn {
  border-radius: 2px !important;
}

.btn-primary {
  background-color: #60bce4 !important;
  border-color: #60bce4 !important;
}

.btn-primary:hover {
  background-color: #7bddff !important;
  border-color: #7bddff !important;
}

.column-header select {
  color: black;
}

#gaslight-logo{
  width: 130px;
  padding: 0px;
}

.app-name {
  margin-left: 10px !important;
  color: #fff !important;
}

.navbar.navbar-default {
  background-color: #2d2d2d;
  border-radius: 0;
  border: none;
  height: 58px;
  display: block;
}

.panel-heading {
  border-top-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
  background-color: #2d2d2d !important;
  color: #dedede !important;
}

.column-header {
  background-color: #2d2d2d !important;
  color: #dedede !important;
  font-weight: normal !important;
  border: 0px !important;
  text-align: center;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
.block {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eeebeb;
  border: 1px solid #ddd;
}

.block-warn {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ff0;
  background-color: rgba(255,255,0,.15);
  border: 1px solid #000;
}

.block-alert {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f00;
  background-color: rgba(255,0,0,.15);
  border: 1px solid #000;
  border: 1px solid rgba(0,0,0,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.middle-blocks-height {
  height: 500px;
  overflow-y: scroll;
}

.smaller-text {
  font-size: .81em;
}

.even-columns {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 9.09090909091%;
    overflow: visible;
    height: 200%;
}

.columns {
  border-left: 1px solid #ddd;
  background-color: #fff;
}

.columns:last-child {
  border-right: 1px solid #ddd;
}

.worker {
  padding: 4px;
  border: 1px dashed #ddd;
  width: 100%;
  margin: 4px 0px;
  text-align: center;
  border-color: #2d2d2d;
}

.batch {
  padding: 2px;
  border: 1px solid #2d2d2d;
  height: 34px;
  margin: 4px 0px;
  text-align: center;
}

.batch-idle {
  padding: 2px;
  border: 1px solid #ddd;
  width: 95%;
  margin: 4px 0px;
  text-align: center;
}

/*Progress bar styles*/
#progressbar {
  width: 100%;
  height: 17px;
  clear: both;
}

#progress-17 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 100%;
  max-width: 100%;
  float: left;
}
#progress-16 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 94.117647%;
  max-width: 100%;
  float: left;
}
#progress-15 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 88.23529%;
  max-width: 100%;
  float: left;
}
#progress-14 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 82.352941%;
  max-width: 100%;
  float: left;
}
#progress-13 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 76%;
  max-width: 100%;
  float: left;
}
#progress-12 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 70%;
  max-width: 100%;
  float: left;
}
#progress-11 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 64%;
  max-width: 100%;
  float: left;
}
#progress-10 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 58%;
  max-width: 100%;
  float: left;
}
#progress-9 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 52%;
  max-width: 100%;
  float: left;
}
#progress-8 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 47%;
  max-width: 100%;
  float: left;
}
#progress-7 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 41%;
  max-width: 100%;
  float: left;
}
#progress-6 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 35%;
  max-width: 100%;
  float: left;
}
#progress-5 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 29%;
  max-width: 100%;
  float: left;
}
#progress-4 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 23%;
  max-width: 100%;
  float: left;
}
#progress-3 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 18%;
  max-width: 100%;
  float: left;
}
#progress-2 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 12%;
  max-width: 100%;
  float: left;
}
#progress-1 {
  border-radius: 1px;
  background: #A1C969;
  height: 15px;
  width: 5%;
  max-width: 100%;
  float: left;
}
/*End terrible code*/

.batch-0 {
  background-color: none;
}

.batch-1 {
  background-color: rgba(105, 195, 226, 0.4);
}

.batch-2 {
  background-color: rgba(235, 205, 30, 0.4);
}

.batch-3 {
  background-color: rgba(224, 88, 81, 0.4);
}

.batch-4 {
  background-color: rgba(134, 130, 214, 0.4);
}

.batch-5 {
  background-color: rgba(111, 194, 104, 0.4);
}

.column-header {
  min-height: auto;
}

.column-footer {
  min-height: 53px;
  background-color: #2d2d2d !important;
  color: #fff;
  border: none;
  text-align: center;
}

.column-footer select {
  color: #000;
}

.flow-board {
  border: 1px solid #ddd;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.no-padding {
  padding: 0px;
}

.float-right {
  float: right;
}

.u-padding-left {
  padding-left: 10px;
}

.u-margin-left {
  margin-left: 10px;
}

.u-margin-left-lg {
  margin-left: 380px;
}

.u-margin-right {
  margin-right: 20px !important;
}

.u-pad-none-top {
  padding-top: 0px !important;
}

.u-align-center {
  text-align: center;
}

.u-margin-top {
  margin-top: 5px;
}
