<body ng-app="flowMetrics">
  <div class="container" ng-controller="FlowController as flow">
    <div class="row col-md-12">
      <div class="page-header panel panel-default">
        <div class="panel-heading">Flow Simulation Controls</div>
        <div class="panel-body u-pad-none-top">
          <div class="row col-md-12">
            <button class="btn btn-primary u-padding-left" ng-click="flow.play()" ng-disabled="flow.running || flow.done">Start</button>
            <button class="btn btn-default u-padding-left" ng-click="flow.resetBoard()" ng-disabled="!flow.done">Reset</button>
            <span class="u-padding-left"><label>Value Delivered</label><span class="results u-margin-left">${{ flow.valueDelivered() }}</span></span>
            <span class="u-padding-left"><label>Throughput: </label><span class="results u-margin-left"> {{ flow.throughput }} / s</span></span>
            <span class="u-padding-left"><label>Expected In Progress: </label><span class="results u-margin-left">{{ (flow.arrivalRate * 1000).toFixed(2) }} * {{ (flow.avgCycleTime / 1000).toFixed(2) }} = {{ flow.expectedNumInProgress }}</span></span>
            <span class="u-padding-left"><label>Time Elapsed: </label><span class="results u-margin-left"> {{ (flow.elapsed / 1000).toFixed(1) }} s</span></span>
          </div>
          <div class="row col-md-12">
            <span><label>Batches</label><select class="u-margin-left u-margin-right" ng-model="flow.batchesOn" ng-options="k for (k, v) in flow.batchOptions" ng-disabled="flow.running"></select></span>
            <div class="row worker-controls u-margin-right" ng-if="!column.idle" ng-repeat="column in flow.board.columns" ng-class="flow.columnState(column)">
              <span><strong>{{column.name}}</strong></span>
              <select class="smaller-text" ng-if="!column.idle" ng-model="flow.workerCounts[column.id]" ng-options="k for (k, v) in flow.workerCountOptions"></select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-md-12 no-margin-bottom">
      <div class="even-columns column-header" ng-repeat="column in flow.board.columns" ng-class="flow.columnState(column)">
        <span>{{column.name}}</span>
      </div>
    </div>

    <div class="row col-md-12 middle-blocks-height no-margin-bottom">
      <div class="even-columns columns" ng-repeat="column in flow.board.columns">
        <div class="smaller-text worker" ng-if="!column.idle" ng-repeat="wrkr in flow.activeWorkersForColumn(column)">
          <span>
            {{ wrkr.name }}
          </span>
          <div class="smaller-text batch" ng-repeat="item in flow.board.itemsForWorker(wrkr)" ng-class="flow.batchStyle(item)">
            <span>
              {{item.name}} ${{item.value}}
              <div id="progressbar">
                <div id="progress-{{item.workRemaining}}"></div>
              </div>
            </span>
          </div>
        </div>
        <div class="smaller-text batch-idle" ng-if="column.idle" ng-repeat="item in flow.board.itemsInColumn(column)" ng-class="flow.batchStyle(item)">
          <span>
            {{item.name}} ${{item.value}}
            <div ng-if="!column.end" id="progressbar">
              <div id="progress-{{item.workRemaining}}"></div>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="even-columns block column-footer" ng-repeat="column in flow.board.columns">
        <span class='smaller-text'>WIP </span>
        <select ng-if="!column.start && !column.end && column.idle" ng-model="column.wipLimit" ng-options="value for value in [1, 2, 3, 4, 5, 6, 7]"></select>
      </div>
    </div>

    <!-- CYCLE TIMES -->
    <div class="row col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Work Item Cycle Times
        </div>

        <div class="panel-body">
          <canvas id="cycleTimeChart" class="chart chart-bar" chart-data="flow.cycleTimeBarChartData" chart-labels="flow.cycleTimeBarChartLabels" chart-series="flow.cycleTimeBarChartSeries" chart-options="flow.cycleTimeBarChartOptions" width="900" height="300" style="display:block; width: 900px; height: 300px;"> </canvas>
        </div>
      </div>
    </div>

    <!-- VALUE CHART -->
    <div class="row col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Value Over Time
          <span class="u-padding-left float-right"><label>Value Rate </label><span class="results-black u-margin-left"> ${{ flow.valueRate }} / s</span></span>
          <span class="float-right"><label>Value / Worker Time </label><span class="results-black u-margin-left"> ${{ flow.valueDelivered() }} / {{ (flow.totalWorkerTime() / 1000).toFixed(1) }} s = {{ flow.valueDeliveredPerWorkerTime }}</span></span>
        </div>

        <div class="panel-body">
          <canvas id="valueChart" class="chart chart-line" chart-data="flow.valueTimesData" chart-labels="flow.valueTimesLabels" chart-options="flow.valueTimesOptions" width="900" height="300" style="display:block; width: 900px; height: 300px;">
          </canvas>
        </div>
      </div>
    </div>

    <!-- WORKER TIMES -->
    <div class="row col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Worker Times
        </div>

        <div class="panel-body">
          <canvas id="workerTimesChart" class="chart chart-bar" chart-data="flow.workerTimesBarChartData" chart-labels="flow.workerTimesBarChartLabels" chart-options="flow.workerTimesBarChartOptions" width="900" height="300" style="display:block; width: 900px; height: 300px;">
          </canvas>
        </div>
      </div>
    </div>

    <!-- QUEUE & WIP SIZES -->
    <div class="row col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Average Queue and WIP Sizes
        </div>

        <div class="panel-body">
          <canvas id="queueWipSizeChart" class="chart chart-bar" chart-data="flow.queueWipSizeData" chart-labels="flow.queueWipSizeLabels" chart-options="flow.queueWipSizeOptions" width="900" height="300" style="display:block; width: 900px; height: 300px;">
          </canvas>
        </div>
      </div>
    </div>

    <!-- HISTORICAL NUM WORKERS / VALUE PER WORKER CHART -->
    <div class="row col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="u-padding-left historical">Historical</span>
          # Workers and Value per Worker Time
        </div>

        <div class="panel-body">
          <canvas id="numWorkersPerValuePerWorkerChart" class="chart chart-bubble" chart-data="flow.historicalNumWorkersPerValuePerWorkerChartData" chart-labels="flow.historicalNumWorkersPerValuePerWorkerChartLabels" chart-options="flow.historicalNumWorkersPerValuePerWorkerChartOptions" width="900" height="300" style="display:block; width: 900px; height: 300px;">
          </canvas>
        </div>
      </div>
    </div>

    <!-- HISTORICAL NUM WORKERS / TOTAL RUN TIME CHART -->
    <div class="row col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="u-padding-left historical">Historical</span>
          # Workers per Total Time
        </div>

        <div class="panel-body">
          <canvas id="numWorkersPerValuePerTimeChart" class="chart chart-bubble" chart-data="flow.historicalNumWorkersPerRunTimeChartData" chart-labels="flow.historicalNumWorkersPerRunTimeChartLabels" chart-options="flow.historicalNumWorkersPerRunTimeChartOptions" width="900" height="300" style="display:block; width: 900px; height: 300px;">
          </canvas>
        </div>
      </div>
    </div>

    <!-- HISTORICAL AVG QUEUE / VALUE RATE -->
    <div class="row col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="u-padding-left historical">Historical</span>
          Average Queue Size and Value Delivered Rate
        </div>

        <div class="panel-body">
          <canvas id="avgQueueAndValueDeliveredRateChart" class="chart chart-bubble" chart-data="flow.historicalHighestAvgQueuePerValueRateChartData" chart-labels="flow.historicalHighestAvgQueuePerValueRateChartLabels" chart-options="flow.historicalHighestAvgQueuePerValueRateChartOptions" width="900" height="300" style="display:block; width: 900px; height: 300px;">
          </canvas>
        </div>
      </div>
    </div>

    <!-- HISTORICAL AVG QUEUE / VALUE RATE -->
    <div class="row col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="u-padding-left historical">Historical</span>
          Average Queue Size and Cycle Times
        </div>

        <div class="panel-body">
          <canvas id="avgQueueAndCycleTimesChart" class="chart chart-bubble" chart-data="flow.historicalHighestAvgQueuePerCycleTimeChartData" chart-labels="flow.historicalHighestAvgQueuePerCycleTimeChartLabels" chart-options="flow.historicalHighestAvgQueuePerCycleTimeChartOptions" width="900" height="300" style="display:block; width: 900px; height: 300px;">
          </canvas>
        </div>
      </div>
    </div>

    <!--<div class="row">
      <table class="table table-striped">
        <caption><strong>Historical Times</strong></caption>
        <thead>
          <th class='col-xs-3'>Active Time</th>
          <th class='col-xs-3'>Idle Time</th>
          <th class='col-xs-3'>Total Time</th>
          <th class='col-xs-3'>% Inactive</th>
        </thead>
        <tbody>
          <tr ng-repeat="historical in flow.historicalTimes">
            <td class='col-xs-3'>{{(historical[0] / 1000).toFixed(2)}}</td>
            <td class='col-xs-3'>{{(historical[1] / 1000).toFixed(2)}}</td>
            <td class='col-xs-3'>{{(historical[2] / 1000).toFixed(2)}}</td>
            <td class='col-xs-3'>{{historical[3]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <table class="table table-striped">
        <caption><strong>Historical WIP</strong></caption>
        <thead>
          <th class='col-xs-3' ng-repeat="col in flow.workColumns()">
            {{col.name}}
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="historical in flow.historicalWip">
            <td class='col-xs-3'>{{historical[0]}}</td>
            <td class='col-xs-3'>{{historical[1]}}</td>
            <td class='col-xs-3'>{{historical[2]}}</td>
            <td class='col-xs-3'>{{historical[3]}}</td>
            <td class='col-xs-3'>{{historical[4]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <table class="table table-striped">
        <caption><strong>Historical Queue Sizes</strong></caption>
        <thead>
          <th class='col-xs-3' ng-repeat="col in flow.queueColumns()">
            {{col.name}}
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="historical in flow.historicalQueues">
            <td class='col-xs-3'>{{historical[0]}}</td>
            <td class='col-xs-3'>{{historical[1]}}</td>
            <td class='col-xs-3'>{{historical[2]}}</td>
            <td class='col-xs-3'>{{historical[3]}}</td>
          </tr>
        </tbody>
      </table>
    </div>-->
  </div>
</body>
