<!DOCTYPE html>
<html>
  <head>
    <title>Greenlight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header u-margin-top">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="navbar-brand" id="gaslight-logo" alt="gaslight-logo" src="//drxwg5otdx721.cloudfront.net/assets/logoSmall-50abc20a020d496501111bd245501b06.svg">
          <a class="navbar-brand app-name">Hands-On Flow Metrics</a>

          <!-- link github -->
        </div>
        <a class="questions float-right u-margin-top" href="https://teamgaslight.com/people/peter-kananen">Have questions?</a>
      </div><!-- /.container-fluid -->
    </nav>
    <%= yield %>
  </body>
</html>
